[Unit]
Description=Update weather information on disk through Yahoo! Weather
RequiresMountsFor=/tmp

[Service]
Type=oneshot
ExecStart=/usr/local/bin/weather-update.sh
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
